doctype html
html
  head
    //- <!-- Google Tag Manager -->
    script(type='text/javascript').
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M6BF84M');
    //- <!-- End Google Tag Manager -->

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='keywords',content='#{siteKeywords}')
    meta(name='description',content='#{siteDescription}')
    meta(name='google-site-verification',content='178p1fYjib3ehS8pMbiFWuFj_FWUHIFEjU3t7aLi1cs')

    title Octopus Deploy Library

    link(rel='shortcut icon', href='/images/Octopus-96x96.png', type='image/x-icon')
    //- vendor:css
    //- endinject

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet')

    //- inject:css
    //- endinject
  body
    //- <!-- Google Tag Manager (noscript) -->
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-M6BF84M" height="0" width="0" style="display:none;visibility:hidden")
    //- <!-- End Google Tag Manager (noscript) -->

    script(type='text/javascript').
      window.stepTemplates = !{stepTemplates}

    #reactRoot!= reactOutput

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24461753-5', 'octopusdeploy.com');

    //- inject:js
    //- endinject
